.App {
  text-align: center;
  background-color: rgb(60, 60, 60);
  color: rgb(0, 129, 184);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


img {
  max-width: 300px;
  margin-left: 2rem;
}

.animals {
  max-width: 90vw;
  margin: 2rem auto;
}

.animal {
  margin-bottom: 2rem;
  background-color: rgb(71, 71, 71);
  border-radius: 1rem;
  padding: 1rem;
  color: rgb(98, 192, 232);
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.5);
}

.label {
  margin: 2rem auto;
}

.number {
  background-color: rgb(71, 71, 71);
  color: rgb(0, 129, 184);
  font-size: 20px;
}

.facts {
  margin-left: 4rem;
  width: 100%;
}
